.inicio-servicos {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 35px 60px 128px 60px;
}

.inicio-servicos .text-inicio {
    color: #263238;
}

.linha-Servicos {
    width: 14%;
    height: 4px;
    border-radius: 6px;
    background-color: #263238;
    margin-bottom: 20px;
}

.inicio-servicos .text-inicio h1 .servicos-nossos {
    font-weight: 500;
}

.text-inicio h1 {
    font-weight: 800;
    font-size: 2vw;
}


.text-inicio p {
    font-size: 1.1rem;
    line-height: 130%;
    font-weight: 300;
}

.lista-servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 35px 20px 50px 20px;
}

.lista-servicos li{
    margin-bottom: 10px;
    font-weight: 500;
}